:root {
  --color: #243746;
  --bg: #f3f5f4;
  --bg-secondary: rgb(216, 216, 216);
  --bg-focus: white;
  --border-color: #ddd;
}

.dark-mode {
  --color: #ebf4f1;
  --bg: #111a22;
  --bg-secondary: #445464;
  --bg-focus: #192c3d;
  --border-color: #0d2538;
}

body {
  background-color: var(--bg) !important;
  color: var(--color) !important;
  transition: background-color 0.3s;
}
.modal-content {
  background-color: var(--bg-focus) !important;
  color: var(--color);
}
.modal-header {
  border-bottom: 1px solid var(--bg-secondary) !important;
}
.modal-footer {
  border-top: 1px solid var(--bg-secondary) !important;
}
.card-group {
  margin-bottom: 4vh;
}
.close {
  color: var(--color) !important;
}